@tailwind base;
@tailwind components;
@tailwind utilities;

/* ul li a {
  position: relative;
  color: gray;
  transition: all 0.3s ease;
}

ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: blue;
  transition: width 0.3s ease;
}

ul li a:hover::after,
ul li a.active::after {
  width: 100%;
}

ul li a.active {
  color: black;
} */